@import 'tailwindcss';
@plugin "daisyui" {
	themes: corporate --default;
}
.bg-container {
	background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)),
		url(../images/Hero-mobile.png);
}
@media (min-width: 768px) {
	.bg-container {
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.67),
				rgba(0, 0, 0, 0.67)
			),
			url(../images/Hero-desktop.jpg);
	}
}

.section-container {
	@apply container mx-auto p-6;
}

.section {
	@apply md:py-64 py-32;
}
