* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--indigo-dye: #274060ff;
	--lapis-lazuli: #335c81ff;
	--argentinian-blue: #65afffff;
	--space-cadet: #1b2845ff;
	--united-nations-blue: #5899e2ff;
}
